mixin types()
    +b.types
        .container
            +e.wrapper-list
                +e.button(href="#")
                +e.UL.list
                    +e.LI.list-tab(data-content="0")
                        +e.tab-button(href="#") Физическое лицо
                    +e.LI.list-tab._active(data-content="1")
                        +e.tab-button(href="#") Юридическое лицо
            +e.content.types__content_active
                +e.FORM.form(action='/', method='post', data-program-id="10")
                    +checkout-form-input('Телефон','text', 'user-phone', true)
                    +checkout-form-input('Фио','text', 'user-name', true)
                    +checkout-form-input('Email','email', 'user-email', true)
                    +checkout-form-select('Тариф','user-tariff')
                    +checkout-form-textarea('Комментарий', 'user-comment')
                    +checkout-form-promokod('Промокод', 'user-promokod')
                    .wrapp-overflow
                        +textarea("message")
                    +promokod()
            +e.content
                +e.FORM.form(action='/', method='post', data-program-id="10" id="form2")
                    +checkout-form-input('Фио','text', 'name', true)
                    +checkout-form-input('Название компнаии','text', 'komp', true)
                    +checkout-form-input('Количество билетов','text', 'col', true)
                    .wrapp-overflow
                        +textarea("message")
                .row
                    .col-12.col-offset-sm-6.col-sm-6.mb-10.mb-md-20
                        +e.button-chekout(href="#") Оплатить
                    .col-12.col-sm-12
                        +e.P.description Нажимая на кнопку “Оплатить”, Вы принимаете условия
                            +e.link(href="#") Публичной оферты
