mixin features()
    +b.features
        .container.features_mobile
            +e.inner
                +e.swiper.swiper-container
                    +e.swiper-wrapp.swiper-wrapper
                        +e.slide._1.swiper-slide
                            +feature(require('./../images/iso.svg'), 'высокий стандарт качества', 'feature__title_blue')
                        +e.slide._2.swiper-slide
                            +feature(require('./../images/ranec.svg'), 'профессиональный фокус', 'feature__title_red')
                        +e.slide._3.swiper-slide
                            +feature(require('./../images/compass.svg'), 'выбор форматов обучения', 'feature__title_gray')
                        +e.slide._4.swiper-slide
                            +feature(require('./../images/box.svg'), 'без отрыва от работы', 'feature__title_orange')
                +e.pagination-wrapper.pos-a
                    +e.pagination.swiper-pagination
