@import "./../../common/constants";

.footer {

    &__logo_link {
        display: block;
        text-align: center;
        @include sm {
            text-align: left;
        }
    }


    &__inner{
        border-top: 1px solid #979797;
    }


    &__title {
        font-weight: bold;
        line-height: 14px;
        font-size: 14px;
        text-align: center;
        color: #CACFDD;
        text-transform: uppercase;
        @include sm {
            text-align: left;
            padding-bottom: 1rem;
        }
    }


    &__menu_list-item {
        padding-top: 4px;
        padding-bottom: 4px;

        a {
            display: block;
            line-height: 22px;
            font-size: 14px;
            color: #565656;
            display: flex;
            align-items: center;
            justify-content: center;

            @include sm{
                justify-content: flex-start;
            }

            &::before {
                content: "";
                background: #C4C4C4;
                display: inline-block;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 100%;
                flex-shrink: 0;
                margin-right: 8px;

            }
        }

    }


    &__contacts_text {
        padding-top: 4px;
        padding-bottom: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: unset;
        @include sm {
            justify-content: left;
        }

        a {
            text-align: center;
            display: block;
            line-height: 22px;
            font-weight: normal;
            font-size: 14px;
            color: #565656;
            padding-left: 8px;
        }
    }

    &__copyright {
        @include sm {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__contacts_text-image {
        width: 15px;
        height: 15px;
        position: relative;
    }

    &__address_text {
        text-align: center;
        display: block;
        line-height: 22px;
        font-weight: normal;
        font-size: 14px;
        color: #565656;
        padding-top: 4px;
        padding-bottom: 4px;
        @include sm {
            text-align: left;
        }
    }

    &__copyright_development {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        @include sm {
            padding-top: 0rem;
        }
    }

    &__copyright_text {
        font-size: 12px;
        text-align: center;
        color: #8D9BB0;

    }

    &__copyright_development-text {
        line-height: 12px;
        font-size: 12px;
        color: #8D9BB0;
        padding-right: 8px;
    }


}
