@import "./../../common/constants";


.pay-type {

    &__program {
        padding-top: 1rem;
    }

    &__program-title{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #8D9BB0;
        padding-bottom: 16px;
        font-weight: 700;
        @include md{
            font-size: 26px;
        }
    }

    &__program-description{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #565656;
        width: 100%;

    }

    &__options{
        margin-top: 2rem;
    }

    &__options-title{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #8D9BB0;
        font-weight: 700;
        padding-bottom: 2rem;
        @include md{
            font-size: 26px;
        }
    }

    &__options-item-label{
        display: block;
        position: relative;
        margin-bottom: 28px;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
    }

    &__options-item-label-text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #565656;
        @include md{
            font-size: 20px;
        }
    }

    &__options-item-input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        &:checked + span:after{
            display:block;
        }
    }

    &__options-item-check{
        position: relative;
        top: 0;
        left: 0;
        height: 28px;
        width: 28px;
        background: #FFFFFF;
        border: 1px dashed #8D9BB0;
        border-radius: 7px;
        margin-right: 1.5rem;
            &:after{
                left: 4px;
                top: 3.5px;
                width: 18px;
                height: 18px;
                background: #C4C4C4;
                border-radius: 5px;
                content: "";
                position: absolute;
                display: none;
            }
    }

}
