mixin block-with-label()
    +b.block-with-label
        .container
            +e.inner.mt-20.mb-20.mt-lg-40.mb-lg-40
                +title('О ЧЕМ КУРС','title_grey')
                +e.wrapper.mt-20.mt-sm-20.mt-md-40
                    .row
                        +e.label
                            +e.P.label-title.col-12.col-sm-11.col-offset-sm-1 Этот мастер-класс — самый эффективный тренинг по маркетингу. Он для тех, кому всё время чего-то не хватает: рук, знаний, времени… Вы придете — и мы с вами всё сделаем.
                            .editor-content.col-12.col-sm-10.col-offset-sm-2
                                h3 ОН ИНТЕРАКТИВНЫЙ
                                p Это не лекция - два спикера постоянно работают с аудиторией: мозговые штурмы, тесты, чек-листы, задания, упражнения, проверка, рекомендации…
                                h3 ОН СИСТЕМНЫЙ
                                p Вы увидите, что у вас сделано (что есть), что сделано хорошо и что плохо, что вам нужно сделать (чего у вас еще нет). В мастер-классе очень много полезных знаний, и вы их получаете по понятной системе — от простого к сложному.
                                h3 ОН ПРАКТИЧНЫЙ
                                p 40% нужных вещей мы сделаем прямо в аудитории, другие вы сможете сделать в следующие 7 дней по чек-листам, которые мы вам передадим.
                            +e.label-content.pt-20.pb-20.pb-sm-40.col-sm-9.col-offset-sm-1
                                +e.label-content-inner
                                    +e.label-content-inner-title Программа разделена на четыре части — от «подготовки к старту» до «выхода на орбиту».
                                    +e.label-content-inner-text На каждом этапе вы получите все нужные знания, умения, навыки и инструменты для старта/перезапуска необходимых для бизнеса маркетинговых инструментов.
                                    +e.label-content-inner-promo Программа тренинга по маркетингу представлена в pdf-файле (обязательно ознакомьтесь)
                                    +e.label-content-inner-button
                                        +orange-button('Скачать', 'orange-button__type_1')