mixin tabs()
    +b.tabs
        .container
            +e.wrapper-list
                +e.button(href="#")
                +e.UL.list
                    +e.LI.list-tab(data-content="0")
                        +e.tab-button(href="#") Программа
                    +e.LI.list-tab._active(data-content="1")
                        +e.tab-button(href="#") О спикере
                    +e.LI.list-tab(data-content="2")
                        +e.tab-button(href="#") О чем курс
                    +e.LI.list-tab(data-content="3")
                        +e.tab-button(href="#") Тарифы
                    +e.LI.list-tab(data-content="4")
                        +e.tab-button(href="#") Онлайн-трансляция
            +e.content
                +programm()
            +e.content._active
                +about-spiker()
            +e.content
                +block-with-label()
                +block-without-label()
            +e.content
                +tariffs()
            +e.content Content Онлайн-трансляция
