@import "./../../common/constants";

.news {

    &__title {
        color            : $WHITE;
        background-color : $ORANGE;
        display          : inline;
        padding          : 4px 8px;
        font-weight      : 800;
        font-size        : 18px;
        line-height      : 2;

        @include sm {
            font-size : 20px;
        }

        @include md {
            font-size : 26px;
        }

        &_red {
            color : #f85c5d;
        }
    }
}

.red-news {
    border           : 2px dashed #cdd6de;
    padding          : 2rem .5rem;
    border-radius    : 11px;
    background-color : $RED;

    @include sm {
        padding : 4rem 1rem;
    }

    @include md {
        padding-left  : 3rem;
        padding-right : 1.5rem;
    }

    @include lg {
        padding-right : 7.5rem;
    }

    &__description {
        margin-top  : 2rem;
        color       : $WHITE;
        font-size   : 14px;
        line-height : 19px;
    }
}

.news-type-1 {

    padding-bottom : 3rem;

    &__text-wrapp {

        @include sm {
            padding : 0 1rem;
        }

        @include md {
            padding-left  : 3rem;
            padding-right : 1.5rem;
        }

        @include lg {
            padding-right : 7.5rem;
        }
    }

    &__description {
        margin-top  : 2rem;
        color       : #565656;
        font-size   : 14px;
        line-height : 19px;
    }

    &__image-wrapp {
        text-align    : right;
        position      : relative;
        margin-bottom : 2rem;
        width: 100%;

        &:after {
            content          : '';
            display          : block;
            position         : absolute;
            bottom           : 4px;
            right            : 0;
            height           : 3px;
            width            : 100%;
            background-color : $ORANGE;
        }

        @include sm {
            text-align : center;
        }

        @include md{
            width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        @include lg{
            width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__image {
        display : inline-block;
        width   : 100%;
        height  : auto;


        @include md{
            width: 60%;
        }
    }
}

.news-type-2 {
    border-radius : 11px;
    padding       : 1rem 1rem 2rem;
    border        : 2px dashed #cdd6de;
    margin-top    : 2rem;
    width: 100%;

    @include sm {
        padding : 1rem 1rem 4rem;
    }

    @include md{
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__image {
        display : block;
    }

    &__description {
        color       : #565656;
        font-size   : 14px;
        line-height : 19px;
    }
}
