$MAX-WIDTH_LG: 1264px;
$MAX-WIDTH_HD: 1600px;
$MAX-WIDTH_SMALL: 900px;

@mixin container() {

    .container {
        padding: 0 1rem;
        position: relative;
        width: 100%;

        @include md {
            padding: 0 2rem;
        }

        @include lg {
            max-width: $MAX-WIDTH_LG;
            margin-left: auto;
            margin-right: auto;
        }

        @include hd {
            max-width: $MAX-WIDTH_HD;
        }

        &_small {
            @include lg {
                max-width: $MAX-WIDTH_SMALL;
            }
        }
    }
}