@import "./../../common/constants";

.main-slider {
    position : relative;

    .swiper-pagination-bullet {
        transition    : .4s;
        font-size     : 20px;
        font-weight   : bold;
        width         : 40px;
        text-align    : center;
        color         : #cdd6de;
        opacity       : 1;
        border-radius : 0;
        height        : 100%;
        background    : none;

        &:focus {
            outline : none;
        }
    }

    &__bullet_active.swiper-pagination-bullet {
        transform : scale(1.5);
        color     : $ORANGE;
    }

    &__pagination {
        width  : 100%;
        bottom : -38px;
    }

}

.slide {
    //background-color : #ffffff;

    &__autor {
        color     : #565656;
        font-size : 26px;
    }

    &__order-1 {
        order : -1;

        @include sm {
            order : 0;
        }
    }

    &__title {
        color          : $ORANGE;
        font-size      : 29px;
        line-height    : 1;
        font-weight    : 800;
        text-transform : uppercase;

        @include md {
            font-size : 38px;

        }
    }

    &__img-wrapper {
        max-width : initial;
        margin    : 0 -12px;
        overflow  : hidden;
        position  : relative;

        @include sm {
            margin : 0 -20px;
        }

        @include md {
            margin : 0 -24px;
        }

        @include lg {
            margin   : initial;
            overflow : initial;
        }

        &:after {
            content          : '';
            position         : absolute;
            height           : 2px;
            width            : 100%;
            background-color : $ORANGE;
            bottom           : 0;
            left             : 10%;
        }
    }

    &__img {
        max-width : initial;
        width     : 150%;
        display   : block;

        @include sm {
            width : 160%;
        }

        @include md {
            width : 150%;
        }

        @include lg {
            width : 155%;
        }

        @include hd {
            width : 100%;
        }

    }

    &__date-time {
        color          : $RED;
        text-transform : uppercase;
        display        : flex;
    }

    &__day {
        font-size    : 72px;
        font-weight  : bold;
        line-height  : 1;
        text-shadow  : 0 2px 4px rgba(0, 0, 0, 0.162959);
        margin-right : 1rem;

        @include md {
            font-size : 90px;
        }
    }

    &__date {
        align-self  : flex-end;
        font-size   : 20px;
        font-weight : 800;
        line-height : 20px;

        @include md {
            font-size : 24px
        }
    }

    &__location {
        font-weight : bold;
        font-size   : 16px;
        line-height : 16px;
        color       : #565656;

        @include sm {
            font-size   : 20px;
            line-height : 19px;
        }
    }

    &__button-wrapper {
        position : relative;

        &:after {
            content          : '';
            position         : absolute;
            height           : 2px;
            width            : 94%;
            background-color : $ORANGE;
            bottom           : 0;
            left             : -12px;

            @include sm {
                content : none;
            }
        }
    }
}