mixin block-without-label()
    +b.block-without-label
        .container
            +e.inner.mt-20.mb-20.mt-lg-40.mb-lg-40
                +title('кому посетить','title_grey')
                +e.wrapper.mt-20.mt-sm-20.mt-md-40
                    .row
                        +e.label
                            +e.P.label-title.col-12.col-sm-11.col-offset-sm-1 Маркетинг нужен всем, а не только тем, кто производит и продаёт
                            .editor-content.col-12.col-sm-10.col-offset-sm-2
                                h3 РУКОВОДИТЕЛЮ
                                p Важно разбираться во всех точках контакта с клиентами, использовать нужные инструменты, не тратя огромный бюджет на рекламу. Бизнес - это цифры. Важно следить за показателями, знать, на каком этапе находится клиент. Понимать стратегию комплексного маркетинга компании.
                                h3 МАРКЕТОЛОГУ
                                p На фундаменте имеющихся знаний и опыта, овладеть комплексным видением всей стратегии построения компании. Грамотно выстраивать бренд компании. Получить новые инструменты, генерирующие поток заявок и клиентов.
                                h3 НАЧИНАЮЩЕМУ СПЕЦИАЛИСТУ
                                p Программы в ВУЗ не адаптированы под изменения в экономике. Можно самостоятельно изучать, как строить воронку продаж, настраивать трафик. НО! Для приобретения основных знаний необходимо овладеть стратегией комплексного маркетинга.