@import "./../../common/constants";

.header {
    position : fixed;
    width    : 100%;
    z-index  : 1000;

    &__inner {
        height      : 56px;
        align-items : center;
        position    : relative;

        @include sm {
            height : 64px;
        }

        @include md {
            height : 80px;
        }

        @include lg {
            height : 88px;
        }

        &:after {
            content          : '';
            position         : absolute;
            bottom           : 0;
            height           : 1px;
            background-color : #979797;

            left             : 0.5rem;
            width            : calc(100% - 1rem);

            @include md {
                left  : 1rem;
                width : calc(100% - 2rem);
            }
        }
    }

    &__logo-img {
        height : 32px;

        @include sm {
            height : 36px;
        }

        @include md {
            height : 64px;
        }

        @include lg {
            height : 68px;
        }
    }

    &__navigation {
        display         : flex;
        justify-content : flex-end;
        align-items     : center;

        @include md {
            justify-content : space-between;
        }

    }

    &__categories {

        @include sm {
            position : relative;
        }
    }

    &__menu {
        display          : none;
        flex-direction   : column;
        align-items      : center;
        position         : absolute;
        top              : 100%;
        max-width        : initial;
        width            : calc(100% - 1rem);
        right            : .5rem;
        background-color : #fecb00;
        padding          : 1rem;
        border-radius    : 0 0 20px 20px;
        box-shadow       : 0 4px 4px rgba(0, 0, 0, 0.25);
        border           : 1px solid #dedede;

        @include sm {
            max-width : 300px;
        }

        @include md {
            box-shadow       : none;
            border-radius    : 0 0 20px 20px;
            background-color : transparent;
            max-width        : 100%;
            position         : static;
            display          : flex;
            flex             : 1;
            padding          : initial;
            flex-direction   : row;
            justify-content  : space-between;
            border           : none;
        }

        &_active {
            display : block;

            @include md {
                display : flex;
            }
        }
    }

    &__search-and-login {
        display         : flex;
        justify-content : flex-end;
        flex-shrink     : 0;
        margin-top      : 2rem;

        @include md {
            margin : 0 1rem;
        }

        @include lg {
            margin : 0 1.5rem;
        }
    }

    &__search {
        display     : flex;
        align-self  : center;
        padding     : 0 .5rem;
        align-items : center;
        transition  : .4s;

        @include lg {
            &:hover {
                transform : scale(1.15);
            }
        }
    }

    &__login {
        align-items : center;
        display     : flex;
        margin-left : .5rem;

        @include lg {

            &:hover {
                .header__login-icon {
                    transform : scale(1.15);
                }
            }
        }
    }

    &__menu-list {
        flex-direction : column;
        @include md {
            flex            : 1;
            display         : flex;
            flex-direction  : row;
            justify-content : center;
        }
    }

    &__menu-item {
        position      : relative;
        margin-bottom : 1rem;
        text-align    : right;

        @include md {
            text-align    : initial;
            margin-bottom : initial;
        }

        a {
            color      : #733e00;
            font-size  : 16px;
            display    : inline-block;
            position   : relative;
            padding    : .5rem 0;
            transition : .4s;
            text-align : right;

            @include md {
                text-align : initial;
                color      : #565656;
                padding    : .5rem 1rem;
                display    : block;
            }

        }

        &:hover {
            & > a {
                color : #fbbe49;
            }

            .header__sub-menu-list {
                display : block;
            }
        }

        &_active {

            & > a {
                max-width : calc(100% - 1rem);

                @include md {
                    max-width : 100%;
                }

                &:after {
                    content          : '';
                    position         : absolute;
                    bottom           : 0;
                    right            : 0;
                    width            : calc(100% + 1rem);
                    height           : 2px;
                    max-width        : initial;
                    background-color : #f8595a;

                    @include md {
                        left             : 1rem;
                        width            : calc(100% - 2rem);
                        background-color : #fbbe49;
                    }
                }

            }

            &:hover {
                & > a {
                    color : #733e00;
                }
            }
        }
    }

    &__categories-list {
        display          : none;
        position         : absolute;
        max-width        : initial;
        right            : .5rem;
        top              : 100%;
        width            : 200px;
        background-color : #f44547;
        padding          : .75rem;
        font-size        : 14px;
        box-shadow       : 0 4px 9px rgba(155, 184, 211, 0.5);
        border-radius    : 0 0 4px 4px;
        z-index          : 1;

        @include sm {
            right     : 0;
            max-width : 100%;
            width     : 100%;
            top       : calc(100% + 2px);
        }

        &_active {
            display : block;

            @include md {
                display : initial;
            }

        }
    }

    &__categories-item {

        a {
            padding : .5rem 0;
            color   : #ffffff;
            display : flex;

            &:before {
                content          : '';
                width            : 4px;
                height           : 4px;
                background-color : #ffffff;
                margin-top       : 6px;
                margin-right     : 4px;
                flex-shrink      : 0;
            }
        }

        &:hover, &_active {
            a {
                text-decoration : underline;
            }
        }
    }

    &__categories-button {
        background-color : #f44547;
        color            : #ffffff;
        border-radius    : 4px;
        display          : block;
        padding          : .5rem;
        font-weight      : bold;
        transition       : .4s;
        font-size        : 12px;
        max-width        : initial;
        width            : 136px;

        @include sm {
            padding   : .5rem 1.5rem;
            font-size : 16px;
            max-width : 100%;
            width     : initial;
        }

        @include lg {
            &:hover {
                box-shadow : 0 2px 12px rgba(#f44547, .35);
            }
        }

        &_active {

            @include sm {
                border-bottom-left-radius  : 0;
                border-bottom-right-radius : 0;
            }
        }
    }

    &__login-title {
        margin-right  : .5rem;
        color         : #a96f00;
        font-size     : 12px;
        white-space   : nowrap; /* Запрещаем перенос строк */
        overflow      : hidden; /* Обрезаем все, что не помещается в область */
        text-overflow : ellipsis; /* Добавляем многоточие */
        max-width     : 96px;

        @include md {
            display : none;
        }

        @include lg {
            color     : #565656;
            display   : block;
            font-size : 14px;
            max-width : 110px;
        }

    }

    &__burger {
        flex-shrink     : 0;
        flex-basis      : 42px;
        height          : 48px;
        padding-left    : .75rem;
        display         : flex;
        flex-direction  : column;
        justify-content : center;

        @include sm {
            flex-basis   : 48px;
            padding-left : 1rem;
            margin-left  : 1rem;
        }

        @include md {
            display : none;
        }

        span {
            display          : block;
            height           : 3px;
            border-radius    : 1px;
            background-color : #a8a8a8;
            margin           : .25rem 0;
        }
    }

    &__search-title {
        margin-right : .5rem;
        color        : #a96f00;
        font-size    : 12px;

        @include md {
            display : none;
        }
    }

    &__search-icon, &__login-icon {
        width      : 24px;
        height     : 24px;
        display    : none;
        transition : .4s;

        @include md {
            display : block;
        }

        &_mobile {
            display : block;
            @include md {
                display : none;
            }
        }
    }

    &__search-icon {
        @include md {
            width  : 36px;
            height : 36px;
        }
    }

    &__sub-menu-list {

        a {
            font-size : 12px;
        }

        @include md {
            display          : none;
            max-width        : initial;
            width            : 240px;
            background-color : #fbbe49;
            padding          : 1rem;
            position         : absolute;
            top              : calc(100% - 2px);
            animation        : submenu-fade .4s;
            z-index          : 1;
        }
    }

    &__sub-menu-item {

        &_active {
            & > a {
                text-decoration : underline;
                max-width       : calc(100% - 1rem);

                @include md {
                    max-width : 100%;
                }

            }

            &:hover {
                a {
                    color : #733e00;
                }
            }
        }

        &:hover {
            & > a {
                color : #f8595a;
            }
        }
    }
}

@keyframes submenu-fade {
    0% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}