@import "./../../common/constants";

$GREY_MIDDLE : #6A747D;
$ORANGE : #FBBE49;
$GREY_LIGHT : #A8A8A8;

.envelope {
    overflow : hidden;

    @include sm {
        margin-top   : -6rem;
        padding-left : 4rem;
    }

    @include md {
        margin-top : -10rem;
    }

    @include lg {
        padding-left : 5rem;
        margin-top   : -18rem;
    }

    @include hd {
        padding-left : 6rem;
        margin-top   : -20rem;
    }

    &__inner {
        position     : relative;
        padding-left : 3.5rem;

        @include m-land {
            left : 20%;
        }

        @include sm {
            padding-left  : 2rem;
            padding-right : .75rem;
        }

        @include md {
            padding-left  : 5rem;
            padding-right : .5rem;
        }
    }

    &__img {
        transform : rotate(60deg);
        width     : 236px;
        height    : auto;

        @include m-land {
            width : 276px;
        }
        @include sm {
            width : 356px;
        }

        @include md {
            width : 472px;
        }

        @include lg {
            width : 499px;
        }
    }

    &__title {
        color          : $WHITE;
        font-family    : 'Open Sans', sans-serif;
        font-size      : 16px;
        font-weight    : 800;
        line-height    : 32px;
        text-transform : uppercase;
        padding-bottom : .5rem;

        @include sm {
            font-size      : 20px;
            padding-bottom : 1rem;
        }

        @include md {
            font-size : 24px;
        }
    }

    &__content {
        padding-left : .75rem;
        padding-top  : 1.5rem;

        @include m-land {
            padding-top : 2.5rem;
        }

        @include sm {
            padding-left : 2rem;
            padding-top  : 2.5rem;
        }

        @include md {
            padding-left : 3rem;
            padding-top  : 4.5rem;
        }
    }

    &__input {
        width          : 77%;
        padding-bottom : .5rem;

        @include sm {
            width          : 92%;
            padding-bottom : 2rem;
        }
    }

    &__response .mc4wp-response {
        font-family  : 'Open Sans', sans-serif;
        font-weight  : 800;
        font-size    : 18px;
        width        : 100%;
        padding-left : 1rem;
    }

    &__button {
        width       : 60%;
        cursor      : pointer;
        font-family : 'Open Sans', sans-serif;
        font-size   : 14px;
        line-height : 14px;
        text-align  : center;
        color       : $GREY_MIDDLE;
        background  : linear-gradient(180deg, #F8F9F9 0%, #EFF0F0 100%);
        border      : 1px solid $GREY_LIGHT;
        padding     : .5rem;
        text-shadow : 0px 2px 4px rgba(0, 0, 0, 0.162959);

        @include sm {
            font-size   : 18px;
            line-height : 19px;
            width       : 78%;
        }

        @include md {
            padding : 1rem;
        }
    }

    &__text {
        color          : $ORANGE;
        font-family    : 'Open Sans', sans-serif;
        font-size      : 16px;
        line-height    : 16px;
        font-weight    : 800;
        text-transform : uppercase;
        transform      : rotate(60deg);
        width          : 48%;
        left           : -8%;
        top            : 62%;
        position       : absolute;

        @include m-land {
            width : 30%;
            left  : -7%;
            top   : 66%;
        }

        @include sm {
            font-size   : 26px;
            line-height : 26px;
            width       : 68%;
            left        : -28%;
            top         : 66%;
        }

        @include md {
            font-size   : 39px;
            line-height : 32px;
            width       : 52%;
            left        : -17%;
            top         : 62%;
        }

        @include hd {
            top : 64%;
        }
    }
}

#envelope__form {
    position : absolute;
    top      : 24%;
}
