mixin video-promo()
    +b.video-promo
        .container
            +e.inner.row.mt-20.mt-md-30.mb-40
                .col-12.col-sm-6
                    +e.date-time
                        +e.day 15
                        +e.date
                            +e.mounth Марта
                            +e.year 2019
                    +e.start-time.my-10.my-sm-20 16:00
                    +e.P.location.mb-20.mb-hd-20 Минск, Рокоссовского, 158, гостиница "Салют"
                .col-12.col-sm-6.col-lg-5.col-hd-4
                    +video-review()