@import "./../../common/constants";

.video-promo {

    .video-review {

        @include sm {
            margin-left : 2rem;
        }

        &__video {
            height : auto;
        }

        &__image {
            @include sm {
                transform : translate(-20px, 10px) scale(1.25);
            }

            @include md {
                transform : initial;
            }
        }

        &__man {
            @include sm {
                margin-bottom : 0;
            }

            @include lg {
                margin-bottom : 0;
                transform     : translate(-20px, 20px);
            }
        }
    }

    &__inner {

        @include sm {
            align-items : center;
        }

    }

    &__start-time {
        text-transform : uppercase;
        color          : #8d9bb0;
        font-size      : 36px;
        line-height    : 1;
        font-weight    : 800;

        @include sm {
            font-size : 44px;
        }
    }

    &__date-time {
        color          : $RED;
        text-transform : uppercase;
        display        : flex;
    }

    &__day {
        font-size    : 72px;
        font-weight  : bold;
        line-height  : 1;
        text-shadow  : 0 2px 4px rgba(0, 0, 0, 0.162959);
        margin-right : 1rem;

        @include md {
            font-size : 90px;
        }
    }

    &__date {
        align-self  : flex-end;
        font-size   : 20px;
        font-weight : 800;
        line-height : 20px;

        @include md {
            font-size : 24px
        }
    }

    &__location {
        font-weight : bold;
        font-size   : 20px;
        line-height : 19px;
        color       : #565656;
    }
}
