@import "./../../common/constants";

$GREY_MIDDLE : #8D9BB0;

.contacts {

    &__envelope {
        z-index: 1;
    }

    &__link-list {
        display        : flex;
        flex-direction : column;
    }

    &__link {
        color       : $GREY_MIDDLE;
        font-family : 'Open Sans', sans-serif;
        font-size   : 16px;
        font-weight : bold;
        line-height : 1;

        @include sm {
            font-size : 20px;
        }

        @include md {
            font-size : 24px;
        }
    }

    &__wrapper {

        @include sm {
            transform: translateY(-48px);
        }

        @include md {
            transform : translateY(-64px);
        }

        @include lg {
            transform : translateY(-90px);
        }
    }

    &__addres {
        color       : $GREY_MIDDLE;
        font-family : 'Open Sans', sans-serif;
        font-size   : 16px;
        font-weight : bold;
        line-height : 1;

        @include sm {
            font-size : 20px;
        }

        @include md {
            font-size : 24px;
        }
    }

    &__map {
        max-width : initial;
        margin    : {
            left  : -1rem;
            right : -1rem;
        };

        @include sm {
            margin    : {
                left  : -1.25rem;
                right : -1.25rem;
            };
        }

        @include md {
            margin    : {
                left  : -1.5rem;
                right : -1.5rem;
            };
        }

        @include lg {
            margin : initial;
        }
    }
}