mixin contacts()
    +b.contacts
        .container
            +title('Контакты','title_grey title_default pt-20 pb-20 pb-sm-05 pt-md-40','h1')
            +e.inner.mb-40.mb-sm-30.mb-md-40
                +e.envelope.row.pos-r.mb-20.mb-sm-00
                    .col-3.col-sm-2.col-offset-sm-6.col-offset-hd-7
                        +e.image(src=require('./../images/finger.svg'), alt='arm')
                    .col-9.col-sm-4.col-lg-3
                        +e.link-list
                            +e.link.pb-sm-05(href="tel:+375293158039")
                                +e.SPAN.number +375 29 3158039
                            +e.link.pb-sm-05(href="tel:+375293158039")
                                +e.SPAN.number +375 29 3158039
                            +e.link.pb-sm-05(href="tel:+375293158039")
                                +e.SPAN.number +375 29 3158039
                            +e.link.pb-sm-05(href="mailto:info@seminar4u.by")
                                +e.SPAN.mail info@seminar4u.by
                +e.wrapper.row
                    .col-3.col-sm-2.col-offset-lg-1
                        +e.image(src=require('./../images/arm.svg'), alt='arm')
                    .col-9.col-sm-4.col-lg-3
                        +e.addres Республика Беларусь, г. Минск, 220000, ул. Интернациональная, 16
            +e.map
                iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A712b86362894110beec5976b26f191b72802db26f70ad50e0f2ff48e586d32cd&amp;source=constructor" width="100%" height="400" frameborder="0")