mixin about-spiker()
    +b.about-spiker
        .container
            +e.inner.mt-20.mb-20.mt-lg-40
                +title('О СПИКЕРЕ','title_grey')
                +e.wrapper.mt-10.mt-sm-20.mt-md-40
                    +e.item.pb-40
                        .row
                            +e.item-look.col-sm-5
                                +e.IMG.item-look-image(src=require("./../images/manImage.png"), alt="Игорь Манн")
                                +e.item-look-line
                            +e.item-content.col-sm-7.mt-10
                                +e.SPAN.item-content-title Игорь манн
                                +e.item-content-text
                                    .editor-content
                                        h3 КОНСУЛЬТАНТ
                                        p Кандидат экономических наук, почетный профессор Школы Бизнеса «Синергия». Секрет его успеха кроется в органическом сочетании теории и практики.
                                        h3 МАРКЕТЕР
                                        p Игорь Манн — маркетолог практик. За 20 лет он работал директором по маркетингу, коммерческим директором, региональным директором. Среди компаний, с которым он сотрудничал, Lucent Technologies, Alcatel, Арктел, Konica Corporation, АН МИАН. Работал в таких отраслях как: агробизнес, фотобизнес, телеком, книжный бизнес, недвижимость.
                                        h3 СПИКЕР
                                        p Первоклассный лектор, организатор 12 уникальных программ открытых тренингов и 3х корпоративных программ.
                                        h3 АВТОР
                                        p Автор более десяти книг, ставших бестселлерами. Самая популярная из них - «Маркетинг на 100%.
                                        h3 ИЗДАТЕЛЬ
                                        p Сооснователь одного из авторитетных бизнес издательств деловой литературы в России – «Манн, Иванов и Фербер».
                                    +e.askquestion(href="#", target="_blank")
                                        +e.IMG.askquestion-image(src=require("./../images/message.svg"), alt="message")
                                        +e.askquestion-text Задать вопрос спикеру
                    +e.item.pb-40
                        .row
                            +e.item-look.col-sm-5
                                +e.IMG.item-look-image(src=require("./../images/manImage2.png"), alt="Дмитрий Турусин")
                                +e.item-look-line
                            +e.item-content.col-sm-7.mt-10
                                +e.SPAN.item-content-title Дмитрий Турусин
                                +e.item-content-text
                                    .editor-content
                                        h3 АВТОР
                                        p Автор тренингов «Точки контакта» и «Маркетинг v1Космос!». Темой «Точки контакта» занимаюсь с 2010 года. Соавтор бестселлера «Точки контакта. Рабочая тетрадь для улучшения маркетинга» (пять переизданий). Соавтор книги «Делай новое!». Соавтор книги «Продает каждый».
                                        h3 КОНСУЛЬТАНТ
                                        p Занимался маркетингом в Enter/Связной и PR-агентстве PR Partner. Сооснователь проекта Krostu.com.
                                        h3 СПИКЕР
                                        p С 2012 г. провёл открытые тренинги в Анталии (Турция), Риге (Латвия), Ташкенте (Узбекистан), Москве, Санкт-Петербурге, Екатеринбурге, Уфе, Сургуте, Нижнем Новгороде, Самаре, Ярославле, Иркутске, Ижевске, Тюмени, Белгороде, Краснодаре и Владивостоке. Провел корпоративные тренинги для компаний «Буквоед», Alcina, «Новая Линия», «Химитек»
                                    +e.askquestion(href="#", target="_blank")
                                        +e.IMG.askquestion-image(src=require("./../images/message.svg"), alt="message")
                                        +e.askquestion-text Задать вопрос спикеру