mixin tariffs()
    +b.tariffs
        .container
            +e.inner
                +title('тарифы','title_grey')
                .row
                    .col-12.col-sm-10.col-offset-sm-2
                        +e.description Выберите наиболее подходящий формат участия
                .row
                    .col-11.col-sm-5
                        +standard()
                        +vip()
                    .col-11.col-sm-5.col-offset-sm-2
                        +business()
                        +platinum()


mixin tarifs-contact-form()
    +b.tarifs-contact-form
        +e.contact-form
            +e.glass
            +e.FORM.form(action='/', method='POST')
                +e.close-form(href='#')
                input(type='hidden', name='tariff-name')
                textarea(name='message')
                +e.form-title Оставить заявку
                +e.form-group.mb-05
                    +e.INPUT.form-input(type='text', name='user-name', placeholder='имя')
                    +e.form-message
                +e.form-group.mb-05
                    +e.INPUT.form-input(type='text', name='user-phone', placeholder='телефон')
                    +e.form-message
                +e.form-group.mb-20
                    +e.INPUT.form-input(type='email', name='user-email', placeholder='почта')
                    +e.form-message
                +e.form-send(href="#") Записаться


mixin standard()
    +b.standard(data-tariff-name='standard')
        +e.title стандарт
        +e.UL.list
            +e.list-item Рабочий материал для обучения
            +e.list-item Места с середины зала
            +e.list-item Общий нетворкинг
            +e.list-item Фотоотчет события
            +e.list-item Файл с презентацией тренинга
            +e.list-item 2 кофе-брейка
        +button-with-balls('узнать цену',null,'button-with-balls__ball_red','button-with-balls__ball_grey','button-with-balls__ball_orange')


mixin vip()
    +b.vip(data-tariff-name='vip')
        +e.title vip
        +e.UL.list
            +e.list-item Рабочий материал для обучения
            +e.list-item Места с середины зала
            +e.list-item Общий нетворкинг
            +e.list-item Фотоотчет события
            +e.list-item Файл с презентацией тренинга
            +e.list-item 2 кофе-брейка
            +e.list-item Рабочий материал для обучения
            +e.list-item Места с середины зала
            +e.list-item Общий нетворкинг
            +e.list-item Фотоотчет события
            +e.list-item Файл с презентацией тренинга
            +e.list-item 2 кофе-брейка
            +e.list-item Рабочий материал для обучения
            +e.list-item Места с середины зала
            +e.list-item Общий нетворкинг
        +e.price 400 Br
        +orange-button('записаться','orange-button__vip')


mixin business()
    +b.business(data-tariff-name='business')
        +e.title business
        +e.UL.list
            +e.list-item Рабочий материал для обучения
            +e.list-item Места с середины зала
            +e.list-item Общий нетворкинг
            +e.list-item Фотоотчет события
            +e.list-item Файл с презентацией тренинга
            +e.list-item 2 кофе-брейка
            +e.list-item Рабочий материал для обучения
            +e.list-item Места с середины зала
            +e.list-item Общий нетворкинг
            +e.list-item Фотоотчет события
            +e.list-item Файл с презентацией тренинга
        +e.price 200 Br
        +orange-button('записаться','orange-button__vip')


mixin platinum()
    +b.platinum(data-tariff-name='platinum')
        +e.title platinum
        +e.UL.list
            +e.list-item Рабочий материал для обучения
            +e.list-item Места с середины зала
            +e.list-item Общий нетворкинг
            +e.list-item Фотоотчет события
            +e.list-item Файл с презентацией тренинга
            +e.list-item 2 кофе-брейка
            +e.list-item Рабочий материал для обучения
            +e.list-item Места с середины зала
            +e.list-item Общий нетворкинг
            +e.list-item Фотоотчет события
            +e.list-item Файл с презентацией тренинга
        +button-with-balls('узнать цену','button-with-balls__white','button-with-balls__ball_red','button-with-balls__ball_grey','button-with-balls__ball_white')
        //start second option
        +e.price 400 Br
        +orange-button('записаться','orange-button__vip')
        //end