@import "./../../common/constants";

$GREY_LIGHT : #cacfdd;
$GREY_MIDDLE : #8d9bb0;
$GREY_DARK : #565656;
$RED : #f85c5d;
$ORANGE : #fbbe49;

.tariffs {
    
    &__description {
        color       : $GREY_MIDDLE;
        font-family : 'Open Sans', sans-serif;
        font-size   : 20px;
        font-weight : 800;
        line-height : 24px;
        padding    : {
            top    : 2rem;
            bottom : 2rem;
        }

        @include sm {
            font-size : 26px;
            padding    : {
                bottom : 4rem;
            }
        }

        @include md {
            padding : {
                top : 6rem;
            }
        }
    }

}

.standard {
    border        : 1px dashed $GREY_MIDDLE;
    border-radius : 24px;
    padding       : 2rem 1rem;

    @include md {
        padding-left : 2rem;
    }

    @include lg {
        padding    : {
            top    : 4rem;
            left   : 4rem;
            bottom : 4rem;
        }
    }

    &__title {
        color            : $WHITE;
        background-color : $RED;
        display          : inline-block;
        text-align       : center;
        text-transform   : uppercase;
        padding          : .5rem 1rem;
        margin-bottom    : 2rem;
        font-family      : 'Open Sans', sans-serif;
        font-size        : 36px;
        font-weight      : 800;
        line-height      : 36px;

        @include md {
            font-size   : 48px;
            line-height : 48px;
        }
    }

    &__list-item {
        color       : $GREY_DARK;
        font-family : 'Open Sans', sans-serif;
        font-size   : 16px;
        line-height : 24px;
        display     : flex;
        padding     : .5rem 0;

        &:before {
            content          : '';
            background-color : $RED;
            display          : inline-block;
            width            : 14px;
            height           : 14px;
            position         : relative;
            top              : 4px;
            border-radius    : 50%;
            flex-shrink      : 0;
            margin-right     : 1rem;
        }
    }
}

.vip {
    border        : 2px solid $ORANGE;
    border-radius : 24px;
    padding       : 2.5rem 1rem 2rem;
    margin-top    : 1rem;
    transform     : translateX(24px);

    @include sm {
        margin-top : 2rem;
        transform  : translateX(64px);
    }

    @include md {
        padding-left : 2rem;
        transform    : translateX(80px);
    }

    @include lg {
        margin-top : 4rem;
        padding    : {
            top    : 4rem;
            left   : 4rem;
            bottom : 4rem;
        }
    ;
        transform  : translateX(100px);
    }

    @include hd {
        transform : translateX(116px);
    }

    &__title {
        color            : $WHITE;
        background-color : $ORANGE;
        display          : inline-block;
        text-align       : center;
        text-transform   : uppercase;
        padding          : .5rem 1rem;
        margin-bottom    : 2rem;
        font-family      : 'Open Sans', sans-serif;
        font-size        : 36px;
        font-weight      : 800;
        line-height      : 36px;

        @include md {
            font-size   : 48px;
            line-height : 48px;
        }
    }

    &__list-item {
        color       : $GREY_DARK;
        font-family : 'Open Sans', sans-serif;
        font-size   : 16px;
        line-height : 24px;
        display     : flex;
        padding     : .5rem 0;

        &:before {
            content          : '';
            background-color : $ORANGE;
            display          : inline-block;
            width            : 14px;
            height           : 14px;
            position         : relative;
            top              : 4px;
            border-radius    : 50%;
            flex-shrink      : 0;
            margin-right     : 1rem;
        }
    }

    &__price {
        color       : $GREY_MIDDLE;
        font-family : 'Open Sans', sans-serif;
        font-size   : 36px;
        font-weight : 800;
        line-height : 19px;
        margin      : 2rem 0;
    }
}

.business {
    background-color : $GREY_MIDDLE;
    border-radius    : 24px;
    padding          : 2.5rem 1rem 2rem;
    margin-top       : 1rem;

    @include sm {
        margin-top : initial;
    }

    @include md {
        padding-left : 2rem;
    }

    @include lg {
        padding    : {
            top    : 4rem;
            left   : 4rem;
            bottom : 4rem;
        }
    ;
    }

    &__title {
        color            : $WHITE;
        background-color : $GREY_LIGHT;
        display          : inline-block;
        text-align       : center;
        text-transform   : uppercase;
        padding          : .5rem 1rem;
        margin-bottom    : 2rem;
        font-family      : 'Open Sans', sans-serif;
        font-size        : 36px;
        font-weight      : 800;
        line-height      : 36px;

        @include md {
            font-size   : 48px;
            line-height : 48px;
        }
    }

    &__list-item {
        color       : $WHITE;
        font-family : 'Open Sans', sans-serif;
        font-size   : 16px;
        line-height : 24px;
        display     : flex;
        padding     : .5rem 0;

        &:before {
            content          : '';
            background-color : $GREY_LIGHT;
            display          : inline-block;
            width            : 14px;
            height           : 14px;
            position         : relative;
            top              : 4px;
            border-radius    : 50%;
            flex-shrink      : 0;
            margin-right     : 1rem;
        }
    }

    &__price {
        color       : $WHITE;
        font-family : 'Open Sans', sans-serif;
        font-size   : 36px;
        font-weight : 800;
        line-height : 19px;
        margin      : 2rem 0;
    }
}

.platinum {
    background-color : $ORANGE;
    border-radius    : 24px;
    padding          : 2rem 1rem;
    margin           : 1rem 0 2rem;
    transform        : translateX(24px);

    @include sm {
        margin-top    : 2rem;
        margin-bottom : initial;
        transform     : translateX(-64px);
    }

    @include md {
        padding-left : 2rem;
        transform    : translateX(-84px);
    }

    @include lg {
        margin-top : 4rem;
        padding    : {
            top    : 4rem;
            left   : 4rem;
            bottom : 4rem;
        }
    ;
        transform  : translateX(-104px);
    }

    @include hd {
        transform : translateX(-118px);
    }

    &__title {
        color            : $GREY_LIGHT;
        background-color : $WHITE;
        display          : inline-block;
        text-align       : center;
        text-transform   : uppercase;
        padding          : .5rem 1rem;
        margin-bottom    : 2rem;
        font-family      : 'Open Sans', sans-serif;
        font-size        : 36px;
        font-weight      : 800;
        line-height      : 36px;

        @include md {
            font-size   : 48px;
            line-height : 48px;
        }
    }

    &__list-item {
        color       : $GREY_DARK;
        font-family : 'Open Sans', sans-serif;
        font-size   : 16px;
        line-height : 24px;
        display     : flex;
        padding     : .5rem 0;

        &:before {
            content          : '';
            background-color : $WHITE;
            display          : inline-block;
            width            : 14px;
            height           : 14px;
            position         : relative;
            top              : 4px;
            border-radius    : 50%;
            flex-shrink      : 0;
            margin-right     : 1rem;
        }
    }

    &__price {
        color       : $WHITE;
        font-family : 'Open Sans', sans-serif;
        font-size   : 36px;
        font-weight : 800;
        line-height : 19px;
        margin      : 2rem 0;
    }

}

.tarifs-contact-form {

    &__form-group {
        &_error {
            .tarifs-contact-form__form-message {
                display : block;
            }
        }
    }

    &__contact-form {
        display          : none;
        position         : fixed;
        width            : 100%;
        height           : 100%;
        align-items      : center;
        justify-content  : center;
        background-color : $BLACK_06;
        z-index          : 9999999;
        top              : 0;
        left             : 0;
        animation        : fade-form .4s;

        &_active {
            display : flex;
        }
    }

    &__glass {
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    &__close-form {
        position        : absolute;
        right           : .5rem;
        top             : .5rem;
        width           : 2.5rem;
        height          : 2.5rem;
        background      : url('./../../images/close.svg') no-repeat;
        background-size : contain;

        @include md {
            right  : .75rem;
            top    : .75rem;
            width  : 3rem;
            height : 3rem;
        }
    }

    &__form {
        background-color : $WHITE;
        border-radius    : 24px;
        padding          : 32px 24px;
        overflow         : hidden;
        position         : relative;
        margin-right     : 12px;
        margin-left      : 12px;
        animation        : translate-form .4s;

        @include sm {
            padding : 32px 64px;
        }

        @include md {
            padding : 32px 84px;
        }

        textarea {
            position : absolute;
            top      : -4px;
            left     : -4px;
            width    : 2px;
            height   : 2px;
        }
    }

    &__form-title {
        color         : $ORANGE;
        font-size     : 36px;
        line-height   : 1;
        font-weight   : 800;
        margin-bottom : 2rem;

        @include sm {
            max-width     : 240px;
            margin-bottom : 4rem;
        }

        @include md {
            font-size : 48px;
            max-width : 300px;
        }
    }

    &__form-input {
        display            : block;
        width              : 100%;
        -webkit-appearance : none;
        border             : 1px solid #979797;
        padding            : 12px 8px;
        color              : $RED;
        text-transform     : lowercase;
        font-weight        : 800;
        font-size          : 20px;
        line-height        : 24px;
        border-radius      : 3px;

        @include md {
            font-size : 26px;
            padding   : 24px 16px;
        }

        &::placeholder {
            color : $RED;
        }

        &:focus {
            outline : none;
        }
    }

    &__form-message {
        color         : $RED;
        margin-top    : .5rem;
        margin-bottom : 1rem;
        display       : none;
        font-size     : 14px;

        @include sm {
            font-size : 16px;
        }
    }

    &__form-send {
        background-color : $RED;
        text-transform   : uppercase;
        font-weight      : 800;
        border-radius    : 3px;
        padding          : 12px 48px;
        display          : inline-block;
        font-size        : 20px;
        line-height      : 19px;
        color            : $WHITE;

        @include md {
            font-size : 26px;
            padding   : 20px;
        }

        @include lg {
            padding : 20px 48px;
        }

    }
}

@keyframes fade-form {
    0% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}

@keyframes translate-form {
    0% {
        transform : translateY(-40px);
    }
    100% {
        transform : translateY(0);
    }
}