include ./mastak-lib/mixins
include ./components/header/header
include ./components/partners/partners
include ./components/reviews/reviews
include ./components/title/title
include ./components/video-review/video-review
include ./components/footer/footer
include ./components/features/features
include ./components/feature/feature
include ./components/seminarforu/seminarforu