include ./mastak-lib/mixins
include ./components/header/header
include ./components/partners/partners
include ./components/reviews/reviews
include ./components/title/title
include ./components/video-review/video-review