include ./mastak-lib/mixins
include ./components/header/header
include ./components/partners/partners
include ./components/reviews/reviews
include ./components/title/title
include ./components/video-review/video-review
include ./components/footer/footer
include ./components/features/features
include ./components/feature/feature
include ./components/seminarforu/seminarforu
include ./components/partnership/partnership
include ./components/form/form
include ./components/page404/page404
include ./components/contacts/contacts
include ./components/welcome/welcome
include ./components/orange-button/orange-button
include ./components/news/news
include ./components/stock/stock
include ./components/button-with-balls/button-with-balls
include ./components/banner/banner
include ./components/tariffs/tariffs