include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden app")
        +loader('loader__spinner_egg')
        //+header()
        main.main
            +stock()
            +seminarforu()
            //+welcome()
            //+banner()
            //+tariffs()
        //+footer()
        //+partnership()
