include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden app")
        +loader('loader__spinner_egg')
        .app
            +header()
            main.main
                +features()
                +reviews()
            +footer()