include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden")
        +loader('loader__spinner_egg')
        .app
            +header()
            main.main
                +main-slider()
                +features()
                +seminarforu()
                +reviews()
                +news()
                .mb-40
                    +partnership()
            +footer()