include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden app")
        +loader('loader__spinner_egg')
        +header()
        main.main
            .home-wrapper
                +main-slider()
                +features()
                +stock()
                +seminarforu()
                +reviews()
                +news()
                .mb-40
                    +partnership()
        +footer()