include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden app")
        +loader('loader__spinner_egg')
        +header()
        main.main
            +page404()
        +footer()