include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden")
        +loader('loader__spinner_egg')
    +b.app.container
        .row
            .col-12.col-lg-6
                +e.surname(href="#")
                    +e.aleksander
            .col-12.col-lg-6
                +e.lastname zanko