@import "./../../common/constants";

$GREY : #E4E9EE;

.title {
    font-size      : 40px;
    line-height    : 1;
    text-transform : lowercase;
    letter-spacing : 0;
    font-weight    : 800;

    @include sm {
        font-size : 72px;
    }

    @include md {
        letter-spacing : -.5rem;
        font-size      : 114px;
    }

    &_white {
        color : $WHITE;
    }

    &_grey {
        color : $GREY;
    }

    &_default {
        text-transform : initial;
    }
}
