@import "./../../common/constants";

.points {
    position      : absolute;
    width         : 8px;
    height        : 8px;
    border-radius : 50%;
    z-index       : 0;
    display       : none;

    @include sm {
        display : block;
    }

    &_0 {
        width  : 8px;
        height : 8px;
    }

    &_1 {
        @include sm {
            width  : 20px;
            height : 20px;
        }
    }

    &_2 {
        @include sm {
            width  : 20px;
            height : 20px;
        }

        @include md {
            width  : 28px;
            height : 28px;
        }
    }

    &_3 {
        @include sm {
            width  : 20px;
            height : 20px;
        }

        @include md {
            width  : 28px;
            height : 28px;
        }

        @include lg {
            width  : 32px;
            height : 32px;
        }
    }
}