@mixin placeholder($color) {

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $color;
    }

    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
        opacity: 1;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
        opacity: 1;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color;
    }

    &:-ms-input-placeholder { /* Microsoft Edge */
        color: $color;
    }

    &::placeholder { /* Most modern browsers support this now. */
        color: $color;
    }
}

@mixin checkbox($mr:4px, $w:12px, $h:12px, $bgOn:blue, $bgOff:red) {

    display: none;

    & + label {
        display: flex;
        align-items: center;
        &:before {
            content: '';
            background: $bgOff no-repeat;
            background-size: cover;
            width: $w;
            height: $h;
            display: block;
            margin-right: $mr;
        }
    }

    &:checked + label {

        &:before {
            content: '';
            background: $bgOn no-repeat;
            background-size: cover;
        }
    }
}