mixin programm()
    +b.programm
        .container
            +e.inner.mt-20.mb-20.mt-lg-40.mb-lg-40
                +title('ПРОГРАММА','title_grey')
                +e.wrapper.mt-10.mt-sm-20.mt-lg-40
                    +e.item.pt-05.pb-05.pt-sm-10.pb-sm-10.pt-lg-20.pb-lg-20
                        .row
                            +e.item-date.col-3.col-sm-2
                                +e.SPAN.item-date-text 16:00
                            +e.item-content.col-9.col-sm-10
                                +e.SPAN.item-content-title Регистрация
                                +e.SPAN.item-content-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                    +e.item.pt-05.pb-05.pt-sm-10.pb-sm-10.pt-lg-20.pb-lg-20
                        .row
                            +e.item-date.col-3.col-sm-2
                                +e.SPAN.item-date-text 16:10
                            +e.item-content.col-9.col-sm-10
                                +e.SPAN.item-content-title Часть 1
                                +e.SPAN.item-content-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                    +e.item.pt-05.pb-05.pt-sm-10.pb-sm-10.pt-lg-20.pb-lg-20
                        .row
                            +e.item-date.col-3.col-sm-2
                                +e.SPAN.item-date-text 16:20
                            +e.item-content.col-9.col-sm-10
                                +e.SPAN.item-content-title Часть 2
                                +e.SPAN.item-content-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                    +e.item.pt-05.pb-05.pt-sm-10.pb-sm-10.pt-lg-20.pb-lg-20
                        .row
                            +e.item-date.col-3.col-sm-2
                                +e.SPAN.item-date-text 17:00
                            +e.item-content.col-9.col-sm-10
                                +e.SPAN.item-content-title Кофепауза
                    +e.item.pt-05.pb-05.pt-sm-10.pb-sm-10.pt-lg-20.pb-lg-20
                        .row
                            +e.item-date.col-3.col-sm-2
                                +e.SPAN.item-date-text 17:30
                            +e.item-content.col-9.col-sm-10
                                +e.SPAN.item-content-title Часть 3
                                +e.SPAN.item-content-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea