mixin video-review()
    +b.video-review
        .video-review__man.mb-05
            +e.image(src=require('./../images/speker.png'), alt='speaker')
            +e.wrapper
                +e.H2.title Иван Петров
                +e.P.position Компания SkyWall, CE Copy 3
        +e.video
            iframe(src="https://www.youtube.com/embed/nmt0DQPUM_M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
