mixin video-review()
    +b.video-review
        .video-review__man.mb-05
            +e.image(src=require('./../images/speker.png'), alt='speaker')
            +e.wrapper
                +e.H2.title Иван Петров
                +e.P.position Компания SkyWall, CE Copy 3
        +e.video
            +e.VIDEO.sorce-video( controls poster=require('./../images/preloader.jpg'))
                source( src=require('./../video/v.mp4') type="video/mp4")