mixin welcome()
    +b.welcome
        .container
            .row
                +e.content
                    .col-12.col-sm-7.pb-10.pb-sm-00
                        +e.inner.pt-sm-30
                            +e.image-wrapper.pb-10.pb-sm-20
                                +e.image(src=require("./../images/mann.png"), alt="mann")
                            +e.opportunity-list
                                +e.opportunity.col-4(href="#")
                                    +e.opportunity-image.pb-10(src=require("./../images/Star.svg"), alt="Star")
                                    +e.SPAN.opportunity-text Добавить в избранное
                                +e.opportunity.col-4(href="#")
                                    +e.opportunity-image.pb-10(src=require("./../images/calendar.svg"), alt="calendar")
                                    +e.SPAN.opportunity-text Добавить в календарь
                                +e.opportunity.col-4(href="#")
                                    +e.opportunity-image.pb-10(src=require("./../images/printing-tool.svg"), alt="printing-tool")
                                    +e.SPAN.opportunity-text Печать
                    .col-12.col-sm-5.pt-sm-40
                        +e.envelope
                            +e.author.pb-10.pb-sm-20 Игорь Манн
                            +e.title.pb-20 как улучшить маркетинг в компании за 3 рабочих недели
                            +e.description.pb-20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut beatae consequatur dolor enim facere facilis fugit illo iure magnam minima molestiae, odio provident ratione rerum sint veniam voluptates voluptatum?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut beatae consequatur dolor enim facere facilis fugit illo iure magnam minima molestiae, odio provident ratione rerum sint veniam voluptates voluptatum?
                            +orange-button('записаться')
