@import "./../../common/constants";

$GREY_MIDDLE : #8D9BB0;
$DARK_LIGHT : #565656;
$ORANGE : #FBBE49;
.welcome {
    overflow : hidden;

    &__content {

        @include sm {
            display : flex;
        }
    }

    &__image-wrapper {
        position : relative;

        &:after {
            content       : "";
            position      : absolute;
            background    : #fbbe49;
            height        : 2px;
            width         : 104%;
            max-width     : initial;
            border-radius : 3.5px;
            left          : -4%;

            @include sm {
                width : 106%;
                left  : -6%;
            }

            @include hd {
                width : 100%;
                left  : initial;
            }
        }
    }

    &__image {
        position  : relative;
        left      : -44%;
        width     : 440px;
        max-width : initial;
        height    : auto;
        display   : block;

        @include sm {
            width : 644px;
            left  : -56%;
        }

        @include md {
            width : 908px;
            left  : -64%;
        }

        @include lg {
            width : 893px;
            left  : -28%;
        }
    }

    &__opportunity-list {
        display : flex;
    }

    &__opportunity {
        display        : flex;
        flex-direction : column;
        text-align     : center;

        @include lg {
            align-items : center;
        }
    }

    &__opportunity-text {
        color       : $GREY_MIDDLE;
        font-family : 'Open Sans', sans-serif;
        font-size   : 14px;
        line-height : 19px;
        text-align  : center;

        @include lg {
            max-width : 50%;
        }
    }

    &__author {
        color       : $DARK_LIGHT;
        font-family : 'Open Sans', sans-serif;
        font-size   : 26px;
        line-height : 33px;
    }

    &__title {
        color          : $ORANGE;
        font-family    : 'Open Sans', sans-serif;
        font-size      : 30px;
        font-weight    : bold;
        line-height    : 1;
        text-transform : uppercase;

        @include md {
            line-height : 42px;
            font-size   : 42px;
        }
    }

    &__description {
        color       : $DARK_LIGHT;
        font-family : 'Open Sans', sans-serif;
        line-height : 24px;
        font-size   : 16px;
    }
}