@import "./../../common/constants";

.feature {
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 2rem 12px 68px;

    @include sm {
        padding         : 0;
        justify-content : initial;
        width           : 200px;
    }

    @include md {
        width : 254px;
    }

    @include lg {
        width : 310px;
    }

    @include hd {
        width : 332px;
    }

    &__image {
        width        : 68px;
        height       : 60px;
        flex-shrink  : 0;
        margin-right : .5rem;

        @include md {
            width        : 92px;
            height       : 81px;
            margin-right : 1rem;

        }
    }

    &__title {
        font-size      : 20px;
        line-height    : 20px;
        font-weight    : 800;
        letter-spacing : 0;

        @include md {
            font-size : 24px;
        }

        &_blue {
            color : #93a3e5;
        }

        &_red {
            color : #f69b9d;
        }

        &_gray {
            color : #c4c1c1;
        }

        &_orange {
            color : #ffc351;
        }
    }
}
