mixin reviews()
    +b.reviews
        .container
            +title('Отзывы', 'title_white mb-40 mb-sm-20')
            +e.inner.row
                .col-offset-0.col-offset-sm-2.col-12.col-sm-9.pos-r.pb-15.pb-sm-20.pt-sm-20
                    +e.swiper.swiper-container
                        +e.swiper-wrapp.swiper-wrapper
                            +e.slide.swiper-slide
                                +video-review()
                            +e.slide.swiper-slide
                                +video-review()
                            +e.slide.swiper-slide
                                +video-review()
                            +e.slide.swiper-slide
                                +video-review()
                            +e.slide.swiper-slide
                                +video-review()
                    +e.button-next.swiper-button-next
                    +e.button-prev.swiper-button-prev
                    +e.pagination-wrapper.pos-a
                        +e.pagination.swiper-pagination
